/* --------------------------------------------*\
  #SETTINGS
\* --------------------------------------------*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
/* --------------------------------------------*\
  #GENERIC
\* --------------------------------------------*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* --------------------------------------------*\
  #ELEMENTS
\* --------------------------------------------*/
body {
  position: relative;
  background-color: #f0f0f0;
}

nav {
  background-color: #5c3d04;
}

h1 {
  text-align: center;
}

/* --------------------------------------------*\
  #OBJECTS
\* --------------------------------------------*/
/* --------------------------------------------*\
  #COMPONENTS
\* --------------------------------------------*/
.c-logo {
  width: 5rem;
  height: 5rem;
  margin-bottom: 1rem;
}

.c-nav-link {
  color: #8cbe15;
  background-color: #5c3d04;
  text-decoration: none;
  -webkit-transition: color 0.5s text-decoration 0.5s;
  transition: color 0.5s text-decoration 0.5s;
}

.c-nav-link:hover {
  color: #cccc33;
  text-decoration: underline;
}

.c-nav-link:active {
  color: #cccc33;
}

.c-carousel {
  margin-bottom: 3rem;
  padding-top: 2rem;
}

/* --------------------------------------------*\
  #BOOTSTRAP
\* --------------------------------------------*/
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #cccc33;
  text-decoration: underline;
  background-color: #5c3d04;
}

.accordion-button {
  color: #5c3d04;
}

.accordion-button:focus {
  border: none;
}

.accordion-button-even {
  background-color: #8cbe15;
}

.accordion-button-even:not(.collapsed) {
  color: #5c3d04;
  background-color: #8cbe15;
}

.accordion-button-odd {
  background-color: #98983d;
}

.accordion-button-odd:not(.collapsed) {
  color: #5c3d04;
  background-color: #98983d;
}

.accordion-body {
  background-color: #f0f0f0;
}

/* --------------------------------------------*\
  #UTILITIES
\* --------------------------------------------*/
