/* --------------------------------------------*\
  #SETTINGS
\* --------------------------------------------*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

$color-white: #f0f0f0;
$color-donkergroen: #98983d;
$color-groen-geel: #cccc33;
$color-bruin: #5c3d04;
$color-blauw: #99ffff;
$color-groen: #8cbe15;

$font-standard: "Open Sans", sans-serif;
$font-carousel: "Pacifico", cursive;

/* --------------------------------------------*\
  #GENERIC
\* --------------------------------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* --------------------------------------------*\
  #ELEMENTS
\* --------------------------------------------*/
body {
  position: relative;
  background-color: $color-white;
}
nav {
  background-color: $color-bruin;
}
h1 {
    text-align: center;
}
/* --------------------------------------------*\
  #OBJECTS
\* --------------------------------------------*/

/* --------------------------------------------*\
  #COMPONENTS
\* --------------------------------------------*/
.c-logo {
  width: 5rem;
  height: 5rem;
  margin-bottom: 1rem;
}
.c-nav-link {
  color: $color-groen;
  background-color: $color-bruin;
  text-decoration: none;
  transition: color 0.5s text-decoration 0.5s;
  &:hover {
    color: $color-groen-geel;
    text-decoration: underline;
  }
  &:active {
    color: $color-groen-geel;
  }
}
.c-video {
}
.c-carousel {
  margin-bottom: 3rem;
  padding-top: 2rem;
}

/* --------------------------------------------*\
  #BOOTSTRAP
\* --------------------------------------------*/
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: $color-groen-geel;
  text-decoration: underline;
  background-color: $color-bruin;
}
.accordion-button {
  color: $color-bruin;
  &:focus {
    border: none;
  }
  &-even {
    background-color: $color-groen;

    &:not(.collapsed) {
      color: $color-bruin;
      background-color: $color-groen;
    }
  }
  &-odd {
    background-color: $color-donkergroen;
    &:not(.collapsed) {
      color: $color-bruin;
      background-color: $color-donkergroen;
    }
  }
}
.accordion-body {
    background-color: $color-white;
}
/* --------------------------------------------*\
  #UTILITIES
\* --------------------------------------------*/
